body {
    text-align: center;
    background-color: #fff;
}

h3{
    color: #f69896;
}
/*確定ボタン*/
.bto{
    width: 100px;
    font-size: 15px;
    color: #f69896;
    background-color: #fff;
    border:2px #f69896;
    border-radius: 20px;
}
p{
    color: #f69896;
}