body {
    text-align: center;
    background-color: #fff;
}

table,th,td{
    border: 1px solid #fff;
    text-align: center;
}
th{
    /*色*/
    color: #fff;
    background-color: #f69896;
    /*テーブルの幅*/
    width: 2000px;
    height: 50px;
}
td{
    /*中身を中央ぞろえ*/
    vertical-align: middle;
}
.del{
    width: 80px;
    font-size: 15px;
    color: #fbc5ca;
    background-color: #fff;
    border:2px #f69896;
    border-radius: 20px;
}
.new{
    width: 80px;
    font-size: 15px;
    color: #f69896;
    background-color: #fff;
    border:2px #f69896;
    border-radius: 20px;
}
h3{
    color: #f69896;
}