body {
    text-align: center;
    background-color: #fff;
}

table,th,td{
    border: 1px solid #fff;
    text-align: center;
}
th{
    /*色*/
    color: #fff;
    background-color: #f69896;
    /*テーブルの幅*/
    width: 2000px;
    height: 50px;
}
td{
    /*中身を中央ぞろえ*/
    vertical-align: middle;
}
button{
    color: #f69896;
}